[submodule "third_party/go-sqlite3"]
	path = third_party/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "third_party/firecracker"]
	path = third_party/firecracker
	url = git@github.com:semistrict/firecracker.git
	branch = codex/loophole-memory-snapshots
[submodule "third_party/gvisor"]
	path = third_party/gvisor
	url = https://github.com/google/gvisor.git
	branch = go
[submodule "third_party/e2fsprogs"]
	path = third_party/e2fsprogs
	url = git@github.com:tytso/e2fsprogs.git
