[submodule "third_party/juicefs"]
	path = third_party/juicefs
	url = git@github.com:semistrict/juicefs.git
[submodule "third_party/go-sqlite3"]
	path = third_party/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
