go 1.25.2

use (
	.
	./third_party/compress
	./third_party/merovius-nbd
	./third_party/juicefs
)

// JuiceFS's fuse package requires their go-fuse fork with extra MountOptions fields.
replace github.com/hanwen/go-fuse/v2 => github.com/juicedata/go-fuse/v2 v2.1.1-0.20250807045235-112198daa7df
